
body{
  background-color: #efefef;
  #gradient.vertical(#fff; #ccc; 5%; 100%); 
}

header{
  padding: 10px 0px 10px 0px;
  margin-top: 0px;
  margin-bottom: 25px;
}

.splash{
  margin-bottom: 20px;  
}


.callToAction{
  .innerBox{
    margin-top: 0px;
    margin-bottom: 10px;  
    padding: 19px 7px;
  }
}


footer{
  margin-top: 90px;
  padding-top: 10px;
  margin-bottom: 20px;
}