
body{
  background-color: lighten(#efefef,5%);
}

header{
  padding: 0px 0px 2px 0px;
}

.splash{
  margin-top: 20px;
  margin-bottom: 20px;  
}


.callToAction{
  .innerBox{
    margin-top: 0px;
    margin-bottom: 10px;  
    padding: 19px 7px;
  }
}


footer{
  margin-top: 90px;
  padding-top: 10px;
  margin-bottom: 20px;
}