header.nav-bar
  .constrained
    a.label(href="/") AppBoot

    a(class="mainLink link" ,href="/gettingstarted.html") Getting Started
    a(class="mainLink link" ,href="/standards.html") Standards
    a(class="mainLink link" ,href="/frontend.html") Frontend

