.header.
  <div class="navbar">
    <div class="container" style="width: auto;">
      <a class="navbar-brand" href="#">AppBoot</a>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Getting Started</a></li>
        <li><a href="#">Frontend</a></li>
        <li><a href="#">Applications</a></li>
        <li><a href="#">API Server</a></li>
        <li><a href="#">Infrastructure</a></li>
        <li><a href="#">Security</a></li>
        <li><a href="#">Deployment</a></li>
      </ul>
    </div>
  </div>