extends layout

block content
  
  .constrained

    .breadcrum
      .title The Frontend Basics
      .sub-title A robust app building engine

    aside

    article
      h2 Overview
      p The Application Frontend is the most important asset; here is where the users will spend their time. It's a professional frontend in that sense that it uses the best practices for modern application development methodologies.
    
      h5 Appbot is amazing, it provides a professional workflow based on the Grunt Toolset of automated Tasks. 
      
      p With Appbot our development environment works for us, changes on code are compiled from Coffeescript, Less and Jade automatically. A complete and simple Unit, Functional and Integration Testing suite runs seamlessly along the development process.
      
      h4 You'll be amazed at Live Reloading, any change on the code is automatically send and reloaded on the browser.
      
      p Best practices for Javascript and CSS Modular Development are baked into the development environment, so that it's not only easy to employ good programming techniques, but also that's clearly better.
      
      p The Application Frontend uses a custom Enterprise Grade MVC Framework, we have used dozens of Frontend MVC's and found most of them are focused on building prototype apps. They are great thou, we used them as a base for AppBot Enterprise MVC. The Frontend is a modular application and uses CommonJS to pack
      
      
      h2 Test Drive
      p The best way to get to know the system is to work with it, on the next section you'll be able to understand each part.
      
      p Let's start by cloning this documentation into the local development
      
      h3 Javascript
      p Actually the frontend is build with Coffeescript ( optional ) packed in CommonJS Modules (non-optional) and structured using the SpineJS Framework. This are hard decisions, we hope you trust us to show you why we believe this are good decisions that will make your development experience better.
      
      p With our Grunt Automated Build System called Grunt-Appbot-Compiler we create several apps that share a common code base. In case you want to create an app for web and a similar one for Mobile/Tablet. We can load Modules on Demand when they are required, rather than loading huge JS files at startup and making the user wait.
      
      p Creating a Javascript Package is simple, look at the ./GruntFile.coffee task for Grunt-Appbot-Compiler to see how it's done. It basically compiles and packs all files on a directory and it's subdirectories, concatenates it and publish it on the public folder ready to be used. This way we have complete flexibility on how we structure , build and load our apps.
      
      h3 CSS
      p Actually the CSS is written with Less (optional) and it follows the best practices of CSS Design and Development, focusing on performance and maintance. We are sure you'll feel the benefits of the structure once you work with it.
      
      p We based our structure on the SMCASS Theory https://smacss.com/ , mixing a little of Object Oriented CSS from Nichole Sullivan CSS genius. It's important that we all are very familiar with it's concepts and understand why it's important to follow this best practices.
      
      h3 Components
      p Actually the system is Component Based, there is no real use for isolated Javascript or CSS since every bit of code should be encapsulated on a Module. This methodology makes applications stable, maintainable and rock solid.
      
      p It's really comfortable to be able to work on the behavior, template and style of an application's component on the same folder. Being able to Unit Test Client Side Code and not worry about how that's compiled and sent to the browser.
      
      p Components are isolated and reusable, they are amazing and the way we have set them up on Appbot is great. Check out how components work on the folder app/components. 
      
      p Components must have a file called appbotComponent.json that sets the namespace of the component and other compile time options. Apps for a Private App Store behave just like components. Remember that components can be loaded on demand at anytime, not just during the initial load of the application.
      
      h3 Jade & Scout File
      p It's important to read this: http://alexsexton.com/blog/2013/03/deploying-javascript-applications/ it explains what we are doing here.
      
      p Basically we compile every asset so that it does not require a Frontend Server and can be served from a CDN, we compile CSS, Javascript and Jade, we compile everything so that it can be cached.
      
      p Files on development end up on the public folder, on production they are deployed to S3 and hooked to a CloudFront CDN. Each time a build is created, a new bucket with the build number is created. Files inside this bucket are cached for 30 years.
      
      p HTML files are cached for 5 minutes, and they are automatically compiled to include the latest build number on the path of each asset it references. Check out ./public/index.html to see how it works on development. On Production all links contain the path of the build number. 
      
      p When the system is updated, html files are updated with the new build number and all files are uploades to the corresponding bucket in S3.
      
      p In this case we are using HTML files injected with a JS script that acts as a Scout File. This file could send the screen size and other browser features and specific content could be send for this specific device. Also on other "more dynamic" situations the scout file could be a individual .js file also cached for 5 minutes.
      
      h4 It's important to understand that all this process occur automatically and is based on Grunt Tasks.
      
      
      h2 First Steps
      p This is a complex system, we try to simplify it and make it super easy to get started. Follow this steps with enought time and and open mind for new concepts and unexpected problems. The system is based on Grunt, Coffeescript, Less and SpineJS Framework. All of them super documented, be sure to study them to make sure you understand what's going on.
      
      h3 Setup

      p In order to setup the environment, developers should have the following dependencies pre-installed.

      ul
        li Ruby 1.9.3++ ( on Mac requires XCode or XCode CLT )
        li NodeJS 0.8.0++ and NPM
        li Text Editor
        li Chrome Web Browser
        li Grunt

      h4 Developers should also have accounts with the following services
      ul
        li Amazon Web Services
        li Github

      h3 Getting the Code
      p Once you are done, you must pull the master repository of the Appbot Platform your team is working one.
      code git clone https://github.com/rodriguezartav/rodco-appbot-doc
    
      p Install all necessary dependencies with npm from within the source code root folder.
      code $ npm install .
      p May require to use $sudo 
    
      p Start the server and check http://localhost:3000
      code $ grunt server
    
    
      h3 About Testing
      p Test are the most important part of the system, Appbot has an excelent testing framework that allows for simple unit testing of the client side. Testing are based on Mocha and Grunt with ShouldJS and other testing libraries and helpers.
      
      p To run test use the following command
      code $ grunt test
      
      p The test writing process should be defined and stated on a clear matter. We test everything, and hope for 100% Test Coverage. 
      
      p Unit Test prove that the isolated code on each file works according to whats expected. Each time a file is created or update, a test should have been created or update before hand.
      
      p Functional Test work at a higher level, where multiple components interact with each other. All Interactions of components should be testing. For this test we insantiate an app and make tests on a headless browser.
      
      p Integration Test are there to verify that the system is healty, integration test must be written when we know there is a vulnerable part of code that could no be written with the best encapsulation and separation of concerns, thus is vulnerable and by including it on a test we make sure that any change on the code that would break App Behavior will be detected by the testing framework.
      
      p Review the Unit, Functional and Integration Test of this Documentation to get a guide on how to proceed with creation or update of tests.
      
      h3 Writing Components
      p Since the best practice is to write components for every part of the application in an encapsulated manner, you'll be writing components all day.
      
      p To write a component first create a file named appbotComponent.json and with the text
      code "namespace":"[COMPONENT UNIQUE NAME GOES HERE]"
      
      p Then you can create .coffee, .eco and .less files, they will get compiled automatically when included on a Build.
      
      
      
      h2 MVC Framework
      p In order to work on a profesional enterprise application, developers should be highly experiences on MVC Frontend Frameworks, if not proces with much care understanding that at least three months of lossness and frustrations while learning lie ahead. Make sure you have enought time to study , read , watch screencast and practice on your own apps outside of Appbot since it's too complex for a junior developer to get started on.
      
      p The MVC Framework used is SpineJS, althou other frameworks can be used like BackboneJS and AngularJS as long as they are packed as CommonJS Modules. The compiler shipped with appbot is a firm believer of CommonJS. 
      
      p Instructions on how to write apps with SpineJS can be obtained on the SpineJS website and reading the book Developing Javascript Applications written by Alex Maccaw
      
      h3 Proprietary Framework
      p Actually we are not using the standard SPineJS build, we rather fork it and maintain a version created for enterprise applications in mind. 
      
      
      h2 Deploying
      p When deploying to the master repository , and since we are using a CI system, you'll be upgrading automatically the testing server if all test pass on the CI System.
      
      p In order to deploy your code commit it to git, once you are ready to commit to master
      code $grunt deploy
      p Will build the production version and deploy the code to the server. If all tests pass, the contents of the ./public folder will be uploaded to S3 and all HTML files will be updated to the use the new build number bucket. This will take 5 minutes to take effect due to cache.
      
      
      
       
    
    
    
   