extends layout

block content
  
  .constrained

    .breadcrum
      .title Getting Started
      .sub-title with Appbot

    aside

    article
      h2 Overview
      p Appbot is divided in 3 mayor parts, the Applications, the Server and the infrastructure. Both the Applications and the Server are written in Javascript. The infrastructure runs on Amazon Web Services.
      
      p Appbot has build a professional enterprise platform, most common tasks are automated and part of a standard development workflow.

      p Both the Applications and the Server follow the same workflow, first write the documentation , then write the tests, write the code to pass the tests and finally push the code to a repository that's in constant integration and hooked to a automated build system.

      p The whole workflow is supported by <a href="http://gruntjs.com">GruntJS</a>, this is an important tool to get confortable with.
      
      h3 Frontend Application
      p The Front end is a professional Application, in general any App can connect with the Api Server; The frontend framework and methodology that ships with AppBot promotes a professional and automated build process.
      
      h3 API Server
      p The Api Server works like hub, it's the central logical and intelligence command centre. It knows what to do with every instructions, instructions work on the form of HTTP Requests, mostly REST based.
      
      h3 AWS Infrastructure
      Appbot Infrastructure is designed to provide High Availability and Auto-Scaling, it is based on a pay for what you use model and expands over a plethora of services from Content Delivery Networks, DNS Routers, Scalable Servers and Databases.
      
      h2 Use Cases
      p Appbot is based on the idea that organisations should be able to build and maintain their own software. Appbot can be used in the most demanding and complex scenarios.
      
      h3 Private App Store
      p Appbot was born as a Private App Store, most of the features of a Private App Store are backed-in to the system. On a Private App Store Applications can be build by anyone inside or outside the organisation and consumed by different users such as Customer, Employees and Partners; all within a heavily secured and audited platform.

      h3 Web + Mobile Apps
      p By using Appbot to build your apps you can share parts of code between Web and Mobile Apps, developing a personalized experience while not having to build two distinct apps.
      
      
      h3 Landing Pages
      p Making a Landing Page with Appbot makes a lot of sense, first of all it should be free, simple to use and ready to grow to any size and complexity.
      
      
      h3 Administration Sites
      p Because of Appbot versatility and ease of development it can integrate with any services and data structure. That's why is great to administer or let users administer their accounts. Use it for anything, from turning on the lights to your house or send SMS messages all the way to your Social Profile Admin App.
      
      h2 Examples
      p You are looking at the best example,  this documentation is the simplest possible use case, the automated tasks and best practices used all along are a perfect place to start.
      
      h5 Check the Documentation Source code and run the Grunt Tasks in order to get a feeling of how the Frontend works.
      
      h4 
        a(href="/frontend.html") More information on the next section
      
      
      
       