extends layout

block content
  
  .constrained

    .breadcrum
      .title Getting Started
      .sub-title with Appbot

    aside

    article
      h2 Overview
      p Appbot platform is divided in 3 mayor parts, the Frontend Applications, Central API Server and The Infrastructure. The Infrastructure is based on Amazon Web Services.
      
      p Grunt is a Javascript Task Automator, it's a development tool that simplifies and automates the most necessary tasks. It's advisable that you learn about GruntJS , however is not required in order to run the tasks that help developer automatically compile, run, test and deploy the application's Frontend and BackEnd. Grunt also is planned to use for Infrastructure Provisioning.
      
      h4 Frontend
      p The Front end is a professional Application, in general any App can connect with the Api Server; The frontend framework and methodology that ships with AppBot promotes a professional and automated build process.
      
      h4 API Server
      p The Api Server is a centralised communication hub, mostly REST based with several bulk non-rest-standard routes. Using this pattern we can eliminate dependency between Apps and the Api Server, it also supports a profesional development process.
      
      h4 Infrastructure
      The Platform's Infrastructure is designed to provide High Availability and Auto-Scaling, it is based on a pay for what you use pricing model and expands over a plethora of services from Content Delivery Networks, DNS Routers, Scalable Servers and Databases.
      
      h2 Use Cases
      p Appbot platform is based on the idea that organizations should be able to build and maintain their own software. Appbot can be used in the most demanding and complex scenarios inside the Enterprise Structure or out of the box.
      
      h3 Private App Store
      p Appbot was born as a Private App Store, most of the features of a Private App Store are backed-in to the system.
      
      h3 E-Commerce
      p Custom E-Commerce experiences are hard to develop, however with Appbot is pretty simple. You'll find that most of the development is already made, stand on the shoulder of a Giant, in order to advance faster.
      
      
      h3 Web + Mobile Apps
      p By using Appbot to build your apps you can share parts of code between Web and Mobile Apps, developing a personalized experience while not having to build two distinct apps.
      
      
      h3 Landing Pages
      p Making a Landing Page with Appbot makes a lot of sense, first of all it should be free, simple to use and ready to grow to any size and complexity.
      
      
      h3 Administration Sites
      p Because of Appbot versatility and ease of development it can integrate with any services and data structure. That's why is great to administer or let users administer their accounts. Use it for anything, from turning on the lights to your house or send SMS messages all the way to your Social Profile Admin App.
      
      h2 Examples
      p This Documentation serves as a simple use case example, in several areas we overused certain functions in order to show available options. For example the Side Components is loaded on demand after the Initial Application Load, it was made to show how to do it since due to it's size is rather unnecessary.
      
      h5 Check the Documentation Source code and run the Grunt Tasks in order to get a feeling of how the Frontend works.
      
      
      
       