extends layout

block content
  
  .container
    .row
      .col-md-2.splash
        .icon R2
        span.title The [Future]
        span.subTitle of Apps

      .col-md-8
        .video.clearfix.
          <iframe width="100%" height="390" src="http://www.youtube.com/embed/1H7_ROlKWls" frameborder="0" allowfullscreen></iframe>
    
      .row
        .col-md-8.col-md-offset-2.callToAction
          .innerBox.clearfix
            .col-md-7
              span.title We want to study your case
              span.slogan WE WILL ADJUST R2 FOR YOU
              span.info Launching November 2013 @ Dreamforce

            .col-md-4.col-md-offset-1
        
              input.form-control.input-lg(placeholder="Email Address[no spam]",style="margin-bottom: 5px;")
              .help 
        
              button(type="button").btn.btn-warning.btn-lg.btn-block START A CONVERSATION


  