extends layout

block content
  
  .container
    .row
      .col-md-8.col-md-offset-2.splash
        span.title.textCenter The Future of Apps
        span.slogan in a business platform
         
      .row.video.clearfix
        .col-md-8.col-md-offset-2.
          <iframe width="100%" height="390" src="http://www.youtube.com/embed/OKOrkLxOBoY" frameborder="0" allowfullscreen></iframe>
    
      .row
        .col-md-8.col-md-offset-2.callToAction
          .innerBox.clearfix
            .col-md-7
              span.title Business Platforms Available
              span.slogan innovate by reservering yours today
              span.info Launching November 2013 @ Dreamforce

            .col-md-4.col-md-offset-1
        
              input.form-control.input-lg(placeholder="Email Address",style="margin-bottom: 5px;")
        
              button(type="button").btn.btn-warning.btn-lg.btn-block Reserve ME a platform


  