extends layout

block content
  
  .constrained

    .breadcrum
      .title Tasks
      .sub-title The Tasks that we must do

    aside

    article
     h2 Frontend
      h3 Configuration
      h3 Development Tools
      h3 Design
      h3 Test
      h3 MVC Framework

     h2 API Server
      h3 Authentication
      h3 Models
      h3 
     
     h2 AWS Infrascture
      h3 Frontend "Server"
      h3 ELB
      h3 API Server
      