.callToAction{
  .innerBox{
    background-color: #1ca8dd;
    border: 2px solid lighten(@brand-primary,15%);
    .box-shadow(1px 1px 4px #333);
    .border-bottom-radius(10px);
  }
  
  .title{
    display: inline-block;
    margin-right: 8px;
    font-size: 30px;
    line-height: 25px;
    color: #fff;
  }
  
  .slogan{
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    color: lighten(@brand-warning,15%);
    margin-left: 10px;    
  }
  
  .info{
    display: block;
    color: #fff;
    margin-top: 20px;
  }
  
} 