.splash{
  
  position: relative;
  
  .icon{
    font-family: 'Dosis';
    position: relative;
    left: -30px;
    display: inline-block;
    font-size: 35px;
    line-height: 39px;
    color: #fff;
    font-weight: 200;
    background-color: #efac43;
    .border-top-radius(100px);
    .border-bottom-radius(100px);
    padding: 10px 12px;
  }
  
  .title{
    text-shadow: 1px 1px #fff;
    font-family: 'Dosis';
    font-weight: 300;
    display: inline-block;
    position: relative;
    left: -25px;
    display: inline-block;
    font-size: 39px;
    line-height: 40px;
    color: #6d6e70;
  }
  

  .subTitle{
    font-family: 'Dosis';
    font-weight: 300;
    width: 100%;
    display: inline-block;
    position: relative;
    left: -25px;
    display: inline-block;
    font-size: 39px;
    line-height: 40px;
    color: #6d6e70;
    text-align: right;
  }
}